@charset "utf-8";
/* CSS Document */
body{
	background-color: #FFD4F2;
}

#contenedorizq{
	position:sticky;
	top: 200px;
	bottom: 200px;
	border-color: #29C2E4;
	border-width: 5px;
	border-style: dotted;
	float: left;
}

#contenedorder{
	position:sticky;
	top:200px;
	bottom: 200px;
	border-color: aquamarine;
	border-width: 5px;
	border-style:groove;
	float: left;
}

#imagen{
	position:sticky;
	top:200px;
	bottom: 200px;
	border-color:blueviolet;
	border-style: inset;
	float:left;
}

header{
	border-color:black;
	border-style:inset;
}

h1{
	border-color:black;
	border-style:inset;
}

img {
 max-width: 92%;
 max-height: 92%;
}
